<div class="container-fluid py-3 px-0 border-card mt-2">
  <div class="font-weight-bold ml-4 mb-4">Awaiting bookings</div>

  {% for booking in awaitingBookings %}
  <div class="row pt-4 ml-2">
    <div class="col">
      <div class="text-warning d-inline-block mr-1">Pending</div>
      <img src="/img/people/{{booking.owner.picture}}.jpg" alt="p" class="d-inline-block rounded-circle square-60">
    </div>
    <div class="col">
      <div class="d-block">{{booking.owner.name}}</div>
      <div class="font-weight-bold d-block h5">{{booking.service.name}}</div>
      <div class="d-block">{{booking.start|date("d/m")}}</div>
    </div>
    <div class="col">
      {% for detail in  booking.bookingDetails %}

      <div class="w-50perc d-inline-block py-1">
        {% if detail.pet %}
        <div class=" rounded-circle square-30 img-bg" style="background-image: url('/img/{{detail.pet.picture}}.jpg')"></div>
        {% endif %}
      </div>
        {% if detail.unknownPet %}
        <div><strong>(?) </strong>{{detail.unknownPet}}</div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="col px-0">
      <div class="font-weight-bold d-block">Where</div>
      <div class="d-block">{{booking.owner.location}}</div>
    </div>
    <div class="col">
      <div class="font-weight-bold d-inline-block">$ {{booking.totalPrice|number_format(0)}} AUD </div>
      <i class="fas fa-chevron-right d-inline-block"></i>
    </div>
  </div>
  <hr>
  {% endfor %}

  <div class="font-weight-bold text-center">See all awaiting bookings</div>
</div>
